.doc-container {
    margin-top: 3rem;
    max-width: 95vw;
    display: grid;
    gap: 2rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 450px);
}

.doc-container h3 {
    margin: auto;
}
.search-bar-usr-top {
    position: fixed;
    top: 0;
    text-align: center;
    align-items: center;
    width: 80%;
    padding: 1rem;
}

.center-text {
    text-align: center;
}



@media only screen and (max-width:900px) {
    .search-bar-usr-top {
        top: 2rem;
        width: 100vw;
        margin-bottom: 2rem;
    }
}