:root {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;



  color-scheme: light dark;
  color: #202B40;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 100%; */
}
a {
  text-decoration: none;
  color: #202B40;
}
body {
  margin: 0;
  display: grid;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

